---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes'))
	.sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf())
	.filter((note: any) => note.id.toLowerCase() !== 'readme.org');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<article>
				<h1><a href="/">notes</a></h1>
				<p>Here are all my notes, including notes, blogs, and projects and others.</p>
				<ul>
					{
						notes.map((note: any) => (
							<li>
								<p>
									<span class="date" style="color: gray; font-size: 0.8em;">
										{note.data.date.toLocaleDateString('en-US', {
											month: 'short',
											year: 'numeric',
										})}
									</span>
									<span class="tag" style="font-size: 0.8em;">
										{note.data.filetags?.map((tag: any) => `${tag}`).join(' ')}
									</span>
									<h2 class="title" style="font-size: large; margin: 0 0 0.5em 0; padding: 0; line-height: 1.2;">
										<a href={`/notes/${note.slug}/`}>
											{note.data.title}
										</a>
									</h2>
								</p>
							</li>
						))
					}
				</ul>
			</article>
		</main>
	</body>
</html>

<style>
	ul {
		list-style: none;
		padding-left: 0;
	}
	p {
		line-height: 1.5;
	}
	p a {
		border-bottom: none;
	}
	p a:hover {
		border-bottom: 1px solid lightgray;
	}
</style>
