---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes'))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.filter(note => note.id.toLowerCase() !== 'readme.org');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<article>
				<h1><a href="/">notes</a></h1>
				<p>Here are all my notes, including notes, blogs, and projects and others.</p>
				<ul>
					{
						notes.map((note) => (
							<li>
								<p>
									<a href={`/notes/${note.slug}/`}>
										{/* <span style="color: gray;">{note.data.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short'})} </span> */}
										{note.data.title}
										<span style="color: lightblue;">{note.data.filetags?.map(tag => `${tag}`).join(',')}</span>
									</a>
								</p>
							</li>
						))
					}
				</ul>
			</article>
		</main>
	</body>
</html>

<style>
	ul {
		padding-left: 1em;
	}
	p {
		line-height: 1.5;
	}
	a {
		border-bottom: none;
		font-family: monospace;
	}
</style>
