---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
).slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h1>Welcome to {SITE_TITLE}'s website</h1>
			<p>
				I'm Felix Murray Tang, a creator and innovator based in Hangzhou, China. I'm passionate about exploring various fields, including programming, electronics, and mechanical engineering. When I'm not tinkering with technology, you'll likely find me running, trail running, or hiking in nature. I'm also deeply interested in history, geography, and the universal aspects of human knowledge. And of course, I always make time for my adorable, albeit lazy, cat 🐾.
			</p>

			<h2>What I Do</h2>
			<ul>
				<li>
					<a href="/software">Software</a>
					<p>
						I'm captivated by programming because it empowers me to transform ideas into reality and tackle intricate challenges with elegance and efficiency.
					</p>
				</li>
				<li>
					<a href="/electronics">Electronics</a>
					<p>
						Delving into the fascinating world of circuits and microcontrollers is my true passion. I love unraveling the mysteries of electronic systems and creating innovative solutions.
					</p>
				</li>
				<li>
					<a href="/hardware">Hardware</a>
					<p>
						From bringing designs to life with 3D printing to crafting custom PCB designs, I thrive on creating tangible solutions that bridge the gap between digital concepts and physical reality.
					</p>
				</li>
			</ul>

			<h2>Notes</h2>
			<ul>
				{notes.map((note) => (
					<li>
						<a href={`/notes/${note.slug}/`}>
							{note.data.title}
						</a>
					</li>
				))}
			</ul>
			<p>
				<a href="/notes">View all notes</a>
			</p>

			<h2>Projects</h2>
			<p>I list my projects here to remind myself of the exciting work ahead and to stay motivated.</p>

			<h2>About this Website</h2>
			<p>After experimenting with numerous website frameworks and static site generators, I've found Astro to be my current favorite due to its flexibility and performance.</p>
			<p>I've explored various CSS frameworks but ultimately decided to embrace simplicity. By leveraging the browser's user agent stylesheet, I've maintained a clean, minimalist style that focuses on content.</p>
			<p>
				This website serves as a hub for my notes, blog posts, and project documentation. 
				I invite you to explore and discover more about my work and interests!
			</p>
			<p>This website's source code is available on <a href="https://github.com/felixmurraytang/www">felixmurraytang/www</a>.</p>
			<p>This website's content is available on <a href="https://github.com/felixmurraytang/notes">felixmurraytang/notes</a>.</p>
			<p>
				This website uses <a href="https://astro.build">Astro</a> as its framework and 
				<a href="https://github.com/rasendubi/uniorg">uniorg</a>,
				specifically <a href="https://github.com/rasendubi/uniorg/tree/master/packages/astro-org">astro-org</a>, as its org-mode content parser.
			</p>
			<h3>Workflow</h3>
			<ol> 
				<li>I compose my notes using <a href="https://orgmode.org">org-mode</a> in <a href="https://www.gnu.org/software/emacs/">Emacs</a>, utilizing <a href="https://github.com/protesilaos/denote">denote</a> instead of <a href="https://github.com/org-roam/org-roam">org-roam</a> for simpler management.</li>
				<li>Since I separate the website's source code and content, I use GitHub Actions repository-dispatch to trigger the source code's build each time I push updates to the notes repository.</li>
			</ol>
			<p>This streamlined workflow allows me to focus on creating content while maintaining an up-to-date and efficient website.</p>
		</main>
	</body>
</html>
