---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import { SITE_HOME } from '../lib/site';

const collection = await getCollection('content');
const nodes = collection
    .filter((node) => node.data)
    .sort((a, b) => {
        const dateA = a.data.date?.valueOf() || 0;
        const dateB = b.data.date?.valueOf() || 0;
        return dateB - dateA;
    });

const homeConfig = SITE_HOME;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main id="main">
      <article>
        <header class="home-header">
          <h1>{SITE_TITLE}</h1>
          {homeConfig.heroIntro.map((paragraph) => (
            <p class="intro-p">{paragraph}</p>
          ))}
        </header>

        <section id="content">
          <ul class="log-list">
            {nodes.map((node) => (
              <li class="log-item">
                <div class="item-content">
                  <a href={`/content/${node.data.slug}/`} class="item-title">
                    {node.data.title}
                  </a>
                  {node.data.filetags && node.data.filetags.length > 0 && (
                    <span class="item-tags">
                      {node.data.filetags.map((tag: string) => (
                        <span class="item-tag">#{tag}</span>
                      ))}
                    </span>
                  )}
                </div>
              </li>
            ))}
          </ul>
        </section>
      </article>
    </main>
  </body>
</html>
