---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Search from '../components/Search.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const collection = await getCollection('content');
const nodes = collection
    .filter((node) => node.data)
    .sort((a, b) => {
        const dateA = a.data.date?.valueOf() || 0;
        const dateB = b.data.date?.valueOf() || 0;
        return dateB - dateA;
    });
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<a href="#main" class="skip-link">Skip to main content</a>
		<main id="main">

			<h1><a href="/">{SITE_TITLE}</a></h1>
			
			<p>Hi, I'm Mayphus, a maker and perpetual learner whose passion lies at the vibrant intersection of technology and creative craftsmanship. My workshop is a testament to this diverse approach – you'll find 3D printers humming alongside soldering stations, microcontrollers sharing space with fabric swatches, and engineering notebooks filled with sketches ranging from circuit designs to sewing patterns.</p>

			<h2>Projects</h2>
			<ul>
				{
					nodes.map((node) => (
						node.data.filetags?.includes('project') && (
							<li><a href={`/content/${node.data.slug}/`}>{node.data.title}</a></li>
						)
					))
				}
			</ul>

			<h2>Articles</h2>
			<ul>
				{
					nodes.map((node) => (
						node.data.filetags?.includes('article') && (
							<li><a href={`/content/${node.data.slug}/`}>{node.data.title}</a></li>
						)
					))
				}
			</ul>

			<p>Browse all <a href="/content/">content</a> for more topics, or <a href="mailto:tangmeifa@gmail.com">email me</a> if you want to help me or I can help you.</p>
			
			<Footer />
		</main>
		<Search />
	</body>
</html>
