---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const collection = await getCollection('content');
const nodes = collection
    .filter((node: any) => node.data)
    .sort((a: any, b: any) => {
        const dateA = a.data.date?.valueOf() || 0;
        const dateB = b.data.date?.valueOf() || 0;
        return dateB - dateA;
    });
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<nav>
				<a href="/notes/">Notes</a>
				<a href="/articles/">Articles</a>
				<a href="/projects/">Projects</a>
				<a href="https://github.com/mayphus" target="_blank">GitHub</a>
				<a href="https://youtube.com/@mayphustang" target="_blank">YouTube</a>
				<a href="https://www.pinterest.com/mayphustang" target="_blank">Pinterest</a>
			</nav>

			<article>
				<h1><a href="/">{SITE_TITLE}</a></h1>
				
				<p>Hi, I'm Mayphus Tang, a maker and perpetual learner
          whose passion lies at the vibrant intersection of technology and creative craftsmanship.
          My workshop is a testament to this diverse approach – you'll find 3D printers humming alongside
          soldering stations, microcontrollers sharing space with fabric swatches,
          and engineering notebooks filled with sketches ranging from circuit designs to sewing patterns.</p>

				<p>Here are my projects may include both mechanical, hardware and software or any others.</p>
				<ul>
					{
						nodes.map((node: any) => (
							node.data.filetags?.includes('project') && (
								<li><a href={`/content/${node.data.slug}/`}>{node.data.title}</a></li>
							)
						))
					}
				</ul>

				<p>Here are my articles which means not simple notes.</p>
				<ul>
					{
						nodes.map((node: any) => (
							node.data.filetags?.includes('article') && (
								<li><a href={`/content/${node.data.slug}/`}>{node.data.title}</a></li>
							)
						))
					}
				</ul>

				<p>And I also list my personal <a href="https://mayphus.org/notes/">Notes</a>.</p>

				<p><a href="mailto:tangmeifa@gmail.com">Email</a> me if you want to help me or I can help you or just want to say hi.</p>
			</article>
		</main>
	</body>
</html>
